<h1>Listing projects</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Launch date</th>
    <th>Description</th>
    <th>Responsibilities</th>
    <th>Title</th>
    <th>Technology</th>
    <th>Image</th>
    <th>Git</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.url %></td>
    <td><%= project.launch_date %></td>
    <td><%= project.description %></td>
    <td><%= project.responsibilities %></td>
    <td><%= project.title %></td>
    <td><%= project.technology %></td>
    <td><%= project.image %></td>
    <td><%= project.git %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
