<h1>Portfolio</h1>

<h3>Ruby on Rails</h3>
<% @ror_projects.each do |project| %>
    <%= render :partial => 'thumbnail', :locals => { :project => project } %>
    <%= cycle('','<div class="clear"></div>').html_safe %>
<% end %>
<div class="clear"></div>
<%# reset_cycle %>

<h3>Spree Commerce</h3>
<% @spree_projects.each do |project| %>
    <%= render :partial => 'thumbnail', :locals => { :project => project } %>
    <%= cycle('','<div class="clear"></div>').html_safe %>
<% end %>
<div class="clear"></div>
<% reset_cycle %>

<h3>Shopify</h3>
<% @shopify_projects.each do |project| %>
    <%= render :partial => 'thumbnail', :locals => { :project => project } %>
    <%= cycle('','<div class="clear"></div>').html_safe %>
<% end %>
<div class="clear"></div>
<% reset_cycle %>

<h3>Other Projects</h3>
<% @html_projects.each do |project| %>
    <%= render :partial => 'thumbnail', :locals => { :project => project } %>
    <%= cycle('','<div class="clear"></div>').html_safe %>
<% end %>
<div class="clear"></div>
