<h1>
  <%= @project.title %> <small> | <a href="<%= "http://#{@project.url}" %>" target='_blank'><%= @project.url %></a></small>
</h1>
<%= image_tag "#{@project.image}_620px.png", :class => 'project_image' %>
<div class="span-8">
  <h3>Details</h3>
  <table>
    <tbody>
      <tr>
        <th>URL:</th>
        <td><a href="http://<%= @project.url %>" target='_blank'><%= @project.url %></a></td>
      </tr>
      <tr>
        <th>Platform:</th>
        <td><%= @project.platform %></td>
      </tr>
      <tr>
        <th>Technology:</th>
        <td><%= @project.technology %></td>
      </tr>
     <%# HACK: Set launch date to 'August 2008' to hid the date for projects I didn't launch %>
      <% if formatted_date(@project.launch_date) != 'August 2008' %>
        <tr>
          <th>Launch Date:</th>
          <td><%= formatted_date(@project.launch_date) %></td>
        </tr>
      <% end %>

      <tr>
        <th>Responsibilities:</th>
        <td><%= @project.responsibilities %></td>
      </tr>

      <% if @project.git %>
        <tr>
          <th>Git Repo:</th>
          <td><%= @project.git %></td>
        </tr>
      <% end %>

      <% if can? :edit, @project %>
      <tr>
        <td colspan='2'><%= link_to 'edit', edit_project_path(@project) %></td>
      </tr>

      <% end %>
    </tbody>
  </table>
</div>
<div class="span-6 prepend-1 last">
  <h3>Description</h3>
  <p><%= @project.description.html_safe %></p>
</div>
