<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Launch date:</b>
  <%= @project.launch_date %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= @project.responsibilities %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Technology:</b>
  <%= @project.technology %>
</p>

<p>
  <b>Image:</b>
  <%= @project.image %>
</p>

<p>
  <b>Git:</b>
  <%= @project.git %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
