<% content_for :content do %>
  <div class="paper drop-shadow lifted" id="about">
    <div class="span-8">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>
    <div class="span-15">
      <ul class="nav">
        <li class="selected" style="background: url(<%= image_path 'about_selected.png' %>) no-repeat; width:128px; height:85px;">&nbsp;</li>
        <li>| <a href="#contact">Contact</a></li>
        <li>| <a href="#portfolio">Portfolio</a></li>
      </ul>
    </div>
    <div class="span-1 last">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>
    <div class="span-8">
      &nbsp;
    </div>
    <div class="span-16 last">
      <%= image_tag 'logo_286x165.png', :alt => 'Thumb Tack Logo', :id => 'logo', :width => "286", :height => "165" %>
    </div>
    <div class="span-9">
      <%= image_tag 'Thumb_Tack_Paper_final.png', :alt => "Thumb Tack on its side", :width => "320", :height => "162" %>
    </div>
    <div class="span-12 last">
      <h4>ThumbTack Software, in short, solves the world's technological problems. Want a site refresh? Thumb's up. Need an app? There's a tack for that. (Pardon the puns. We're funny around here.)</h4>
      <h4>We'll get down to brass, umm... tacks, and get the job done with flying colors. Preferably the colors of Italian push-pins, because we happen to have a thing for office supplies.</h4>
      <h4><a href="mailto:john@mettaaudio.com">Ping us.</a> We're friendly, and won't make too many lame jokes. (Probably.)</h4>
    </div>
    <div class="clear">
    </div>
  </div>


  <div class="paper drop-shadow lifted" id="contact">
    <div class="span-9">
      <%= image_tag 'logo_on_paper_215x165.png', :alt => "Thumb Tack holding up the logo", :width => '215', :height => '165' %>
    </div>
    <div class="span-14">
      <ul class="nav">
        <li><a href="#about">About</a> |</li>
        <li class="selected" style="background: url(<%= image_path 'contact_selected.png' %>) no-repeat; width:137px; height:88px;">&nbsp;</li>
        <li>| <a href="#portfolio">Portfolio</a></li>
      </ul>
    </div>
    <div class="span-1 last">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>

    <div class="clear"></div>

    <div class="span-7">
      <%= render "partial/address" %>
    </div>

    <div class="clear"></div>
  </div>


  <div class="paper drop-shadow lifted" id="portfolio">
    <div class="span-9">
      <%= image_tag 'logo_on_paper_215x165.png', :alt => "Thumb Tack holding up the logo", :width => '215', :height => '165' %>
    </div>
    <div class="span-14">
      <ul class="nav">
        <li><a href="#about">About</a> |</li>
        <li><a href="#contact">Contact</a> |</li>
        <li class="selected" style="background: url(<%= image_path 'services_selected.png' %>) no-repeat; width:152px; height:86px;">&nbsp;</li>
      </ul>
    </div>
    <div class="span-1 last">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>
    <div class="clear">
    </div>
    <div class="span-7">
      <%= render "partial/address" %>
    </div>
    <div class="span-17 last">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
