<% content_for :content do %>
<%= render 'about' %>

  <div class="paper drop-shadow lifted" id="portfolio">
    <div class="span-9">
      <%= image_tag 'logo_on_paper_215x165.png', :alt => "Thumb Tack holding up the logo", :width => '215', :height => '165' %>
    </div>

    <div class="span-14">
     <%= render :partial => 'partial/main_page_navigation', :locals => { :active => 'portfolio' } %>
    </div>

    <div class="span-1 last">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>

    <div class="clear">
    </div>

    <div class="span-7">
      <%= render "partial/address" %>
    </div>

    <div class="span-16 last">
      <%= yield %>
    </div>

    <div class="clear"></div>

  </div>

<%= render 'contact', :object => @message %>

<% end %>
<%= render :template => 'layouts/application' %>
