<% content_for :content do %>
  <div class="paper drop-shadow lifted" id="about">
    <div class="span-7 first">
      <%= image_tag 'logo_on_paper_215x165.png', :alt => "Thumb Tack holding up the logo", :width => '215', :height => '165' %>
      <%= render "partial/address" %>
    </div>

    <div class="span-16">
      <ul class="nav">
        <li><%= link_to 'Home', :root %></li>
      </ul>
      <%= yield %>
    </div>

    <div class="span-1 last">
      <%= image_tag 'corner_tack.png', :alt => "Thumb Tack holding up the site", :width => 22, :height => 22 %>
    </div>

  </div>
<% end %>
<%= render :template => 'layouts/application' %>
